@tailwind base;
@tailwind components;
@tailwind utilities;

.install-btn {
  background-color: #18181c;
  height: 32px;
  width: fit-content;
  align-items: center;
  min-width: max-content;
  padding: 4px;
}

.text-size {
}

.chrome-icon {
  width: 19.19px;
  height: 19.19px;
}

.install-text {
  font-family: Mulish;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  /* line-height: 22px; */
  /* letter-spacing: 0em; */
}

@media screen and (max-width: 1024px) {
  .install-text {
    font-size: 10px;
    font-weight: normal;
  }

  .text-size {
  }
}
